In [202]:
str1 = "890724"
a = str1[:2]
b = str1[2:4]
c = str1[4:]

print(a)
print(b)
print(c)

89
07
24

In [203]:
str2 = "010-1234-5678"
A = str2[:3] + str2[4:8] + str2[9:]
print(A)

01012345678

In [204]:
A = input("숫자를 영어로 입력하세요 :")
dict1 = {"one":"일", "two":"이", "three":"삼", "four":"사", "five":"오", "six":"육", "seven":"칠", "eight":"팔", "nine":"구", "ten":"십"}
dict1[A]

숫자를 영어로 입력하세요 : four

'사'

In [205]:
r = input("반지름 값을 입력하세요:")
π = 3.14
y = π*float(r)*float(r)
y

반지름 값을 입력하세요: 3.2

32.153600000000004

In [ ]:
a = input("금액을 입력하세요:")
b = input("상품가격을 입력하세요:")

c = int(a)-int(b)
d = c//500
e = (c%500)//100
f = ((c%500)%100)//50
g = (((c%500)%100)%50)//10

print("잔돈 "+str(c)+"원 : 500원"+str(d)+"개, 100원"+str(e)+"개, 50원"+str(f)+"개, 10원"+str(g)+"개")

In [ ]:
score = int(input("값을 입력하세요 : "))

if score%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

In [ ]:
for i in range(1,6):
    print("*"*i)

In [ ]:
list = [1,24,3,44,1000,0,74]

for i in list:
    if i>=max(list):
        print("결과 :",i)
    else:
        pass

In [ ]:
def average(*args):
    total_sum=sum(args)
    average=total_sum/len(args)
    return average

avg = average(1,5,6,7,222)
print("입력한 숫자의 평균 :",avg)

In [ ]:
!pip install numpy

In [ ]:
import numpy as np
arr1 = np.random.randn(5,2)
print(arr1)

print("전체 합 : ",arr1.sum())
print("전체 평균 : ",arr1.sum()/10)
print("각 열의 합 : ",arr1.sum(axis=0))
print("각 행의 합 : ",arr1.sum(axis=1))
print("각 열의 평균 : ",arr1.sum(axis=0)/5)
print("각 행의 평균 : ",arr1.sum(axis=1)/2)

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd
#1
s1 = pd.Series([70,30,80,90], name='성적표',index=['국어','영어','수학','과학'])
pass_index = s1[s1>=50]
fail_index = s1[s1<50]

print("합격")
print(pass_index)
print("불합격")
print(fail_index)

In [ ]:
#2
avg = s1.mean()
if avg >= 70:
    print("전체합격")
else:
    print("전체불합격")