In [18]:
#과제1
bth = 890724
bth_str = str(bth)
bth_str
bth_str[:2],bth_str[2:4],bth_str[4:]

('89', '07', '24')

In [22]:
#과제2
pn = '010-1234-5678'
pn.replace('-','')

'01012345678'

In [36]:
#과제3
en_dict = {"one": "하나", "two": "둘", "three": "셋", "four": "넷", 
           "five": "다섯","six": "여섯","seven": "일곱","eight": "여덟",
    "nine": "아홉","ten": "열"
          }
en_input = input( "1부터 10까지 숫자 영어로 입력 : ").lower() 
if en_input in en_dict : 
    print(en_dict[en_input])
else:
    print("1부터 10에 해당하는 숫자만 영어로 입력.")

1부터 10까지 숫자 영어로 입력 :  Three

셋

In [44]:
#과제4
pi = 3.14
r = float(input("원의 반지름: "))
y = pi * (r **2)
print(y)

원의 반지름:  2

12.56

In [64]:
#과제5
amt  = int(input("금액 : "))
prc = int(input("상품가격 : "))
 #잔돈 
chg = amt - prc
 #나머지
 #500원 개수
a = chg // 500
 #100원 개수 
b = (chg - a*500) // 100
 #50원 개수
c = (chg - a*500 - b*100) //50
 #10원 개수 
d = (chg - a*500 - b*100 - c*50) // 10
print("잔돈 ",chg,"원은 500원 ",a,"개, 100원 ",b,"개, 50원 ",c,"개, 10원 ",d,"개로 반환")

금액 :  1000
상품가격 :  100

잔돈  900 원은 500원  1 개, 100원  4 개, 50원  0 개, 10원  0 개로 반환

In [74]:
#과제6
num = int(input("값 입력 : "))

#짝수일 때
if num%2 == 0 : 
    print("짝수")
else : 
    print("홀수")

값 입력 :  1

홀수

In [135]:
#과제7
for i in range(1,6) :
    for j in range(i) :
        print("*", end ='')
    print()

*
**
***
****
*****

In [141]:
#과제8
list = [1,24,3,44,1000,2,0,74]
print("list = ", list)

    #최댓값 임의 설정
max = list[0]

for i in list :
    if i >max :
        max = i

print ("결과 : ",max)

list =  [1, 24, 3, 44, 1000, 2, 0, 74]
결과 :  1000

In [165]:
#과제9
def means(*args):
    ttl = sum(args)
    num = len(args)
    average = ttl / num
    return average

print(means(1,5,6,7,222))

48.2

In [255]:
#과제10
import numpy as np
arr1= np.random.rand(5,2)
print(arr1)
#전체합
sum =np.sum(arr1)
print("전체 합 : ",sum)
#전체평균
avrg = np.mean(arr1)
print("전체 평균 : ",avrg)
#각 열의 합
axis0_sum = np.sum(arr1, axis=0)
print("각 열의 합 : ", axis0_sum)
#각 행의 합 
axis1_sum = np.sum(arr1, axis=1)
print("각 행의 합 : ",axis1_sum)
#각 열의 평균
axis0_avrg = np.mean(arr1, axis=0)
print("각 열의 평균 :", axis0_avrg)
#각 행의 평균 
axis1_avrg = np.mean(arr1, axis=1)
print("각 열의 평균 :", axis1_avrg)

[[0.47484952 0.27110257]
 [0.75855499 0.07695093]
 [0.42543372 0.87743786]
 [0.4796592  0.91651156]
 [0.77701288 0.83223921]]
전체 합 :  5.889752437405335
전체 평균 :  0.5889752437405334
각 열의 합 :  [2.9155103  2.97424214]
각 행의 합 :  [0.74595209 0.83550592 1.30287158 1.39617076 1.60925209]
각 열의 평균 : [0.58310206 0.59484843]
각 열의 평균 : [0.37297605 0.41775296 0.65143579 0.69808538 0.80462605]

In [309]:
#과제 11
import pandas as pd
grade_ttl = pd.Series({'국어':70,"영어":30,"수학":80,"과학":90},name='성적표')
print(grade)

#각 과목의 합격/불합격 여부 출력하기 (50점 이상 , 합격)
for grade in grade_ttl :
    if grade >50 :
        grade_Y = pd.Series(grade)
   
    else :
        grade_N = pd.Series(grade)
    
print (grade_Y)
print (grade_N)

90
0    90
dtype: int64
0    30
dtype: int64

In [333]:
#과제12
import pandas as pd
grades = pd.Series({'국어':70,"영어":30,"수학":80,"과학":90},name='성적표')

up = pd.Series(name='성적표')
down = pd.Series(name='성적표')
for i, gr in enumerate(grades):
  index = grades.index[i]
  if gr > 50:
    up.loc[index] = gr
  else:
    down.loc[index] = gr

print('합격')
print(up)

print()
print('불합격')
print(down)

합격
국어    70
수학    80
과학    90
Name: 성적표, dtype: int64

불합격
영어    30
Name: 성적표, dtype: int64